/* 大屏广告 */

address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear: both;float: none;height: 0;overflow: hidden;}
html .hide{display:none;}



#jnImageroll {
    float:center;
    height: 350px;
    margin: 0 11px 0 0;
    overflow: hidden;
    position: relative;
    width: 560px;
}
#jnImageroll img {
    position: absolute;
    left: 0;
    top: 0;
}
#jnImageroll div {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    float: left;
    height:70px;
}
#jnImageroll div a {
    background-color: #444444;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 1px;
    overflow: hidden;
    padding: 10px 30px;
    text-align: left;
    width: 110px;
}
#jnImageroll div a:hover {
    text-decoration: none;
}
#jnImageroll div a em {
	font-size:13px;
    cursor: pointer;
    display: block;
    height: 30px;
    overflow: hidden;
    width: 90px;
}
#jnImageroll .last {
    margin: 0;
    width: 100px;
}
#jnImageroll a.chos {
    background: url("../images/adindex.gif") no-repeat center 39px #37A7D7;
    color: #FFFFFF;
}