<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserInfoByIdServlet</servlet-name>
    <servlet-class>com.servlet.users.GetUserInfoByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetNoticeServlet</servlet-name>
    <servlet-class>com.servlet.notice.GetNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsClassServlet</servlet-name>
    <servlet-class>com.servlet.goodsClass.GetGoodsClassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.servlet.users.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsInfoServlet</servlet-name>
    <servlet-class>com.servlet.goods.GetGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGoodsInfoByIdServlet</servlet-name>
    <servlet-class>com.servlet.goods.GetGoodsInfoByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddToShoppingCarServlet</servlet-name>
    <servlet-class>com.servlet.goods.AddToShoppingCarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderFormServlet</servlet-name>
    <servlet-class>com.servlet.orderForm.OrderFormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteOrderFormInfoServlet</servlet-name>
    <servlet-class>com.servlet.orderForm.DeleteOrderFormInfoServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>GetUserInfoByIdServlet</servlet-name>
    <url-pattern>/servlet/GetUserInfoByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNoticeServlet</servlet-name>
    <url-pattern>/servlet/GetNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsClassServlet</servlet-name>
    <url-pattern>/servlet/GetGoodsClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/servlet/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsInfoServlet</servlet-name>
    <url-pattern>/servlet/GetGoodsInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsInfoByIdServlet</servlet-name>
    <url-pattern>/servlet/GetGoodsInfoByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToShoppingCarServlet</servlet-name>
    <url-pattern>/servlet/AddToShoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderFormServlet</servlet-name>
    <url-pattern>/servlet/OrderFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrderFormInfoServlet</servlet-name>
    <url-pattern>/servlet/DeleteOrderFormInfoServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>